<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<title>Top Job Pvt Ltd</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">


	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<!-- 
			=============================================
				Theme Header One
			============================================== 
			-->
			<header class="header-one">
				<div class="top-header">
					<div class="container clearfix">
						<div class="logo float-left"><a href="index.html"><img src="images/logo/logo.png" alt=""></a></div>
						<div class="address-wrapper float-right">
							<ul>
								<li class="address">
									<i class="icon flaticon-placeholder"></i>
									<h6>Basundhara-03</h6>
									<p>Kathmandu Nepal</p>
								</li>
								<li class="address">
									<i class="icon flaticon-multimedia"></i>
									<h6><a href="tel:015903103">01-5903103</a>	/	<a href="tel:015903102">5903102</a></h6>
									<p><a href="mailto:roshan@topjobsnepal.com">roshan@topjobsnepal.com</a></p>
								</li>
								<li class="quotes"><a href="apply-form.html" target="_blank">Apply Now</a></li>
							</ul>
						</div> <!-- /.address-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container">
						<div class="bg-wrapper clearfix">
							<!-- ============== Menu Warpper ================ -->
					   		<div class="menu-wrapper float-left">
					   			<nav id="mega-menu-holder" class="clearfix">
								   <ul class="clearfix">
									    <li><a href="index.html">Home</a></li>
									    <li class="active"><a href="#">About</a>
									    	<ul class="dropdown">
									    		<li><a href="inner.html">About Us</a></li>
									    		<li><a href="inner.html">Message From Chairman</a></li>
									    		<li><a href="requirement-process.html">Recruitment Process</a></li>
									    		<li><a href="legal-document.html">Legal Documents</a></li>
									       </ul>
									    </li>
									    <li><a href="why-us.html">Why Us ?</a></li>
									    <li><a href="job-category.html">Job Category</a></li>
								     	<li><a href="gallery.html">Gallery</a></li>
									    <li><a href="contact.html">contact</a></li>
								   </ul>
								</nav> <!-- /#mega-menu-holder -->
					   		</div> <!-- /.menu-wrapper -->

					   		<div class="right-widget float-right">
					   			<ul>
					   				<li class="social-icon">
					   					<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										</ul>
					   				</li>
					   			</ul>
					   		</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header> <!-- /.header-one -->

			
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="overlay">
					<div class="container">
						<h2>RECRUITMENT PROCESS</h2>
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.theme-inner-banner -->


			<!--
			=====================================================
				Faq Page
			=====================================================
			-->
			<div class="faq-page section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-xl-9 col-lg-8 col-md-8 col-sm-7 col-12">
							<div class="theme-title-one">
								<h2>OUR RECRUITMENT PROCESS</h2>
							</div> <!-- /.theme-title-one -->
							<div class="faq-panel">
						<div class="panel-group theme-accordion" id="accordion">
						  <div class="panel">
						    <div class="panel-heading active-panel">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						        Recruitment requisition by client</a>
						      </h6>
						    </div>
						    <div id="collapse1" class="panel-collapse collapse show">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 1 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						        Discussion and understanding of requirements</a>
						      </h6>
						    </div>
						    <div id="collapse2" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 2 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						        Receive official job offer (demand letter) from the client</a>
						      </h6>
						    </div>
						    <div id="collapse3" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 3 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						        Take Pre-approvable from department of foreign employment office Kathmandu.</a>
						      </h6>
						    </div>
						    <div id="collapse4" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 4 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						        Advertising of vacancy</a>
						      </h6>
						    </div>
						    <div id="collapse5" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 5 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						        Preliminary interview</a>
						      </h6>
						    </div>
						    <div id="collapse6" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 6 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						        Indorse candidates name list to client</a>
						      </h6>
						    </div>
						    <div id="collapse7" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 7 -->

						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
						        Client interview and skill test</a>
						      </h6>
						    </div>
						    <div id="collapse8" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>if client give authority to do skill test, we will conduct trade test exam in our trade test center.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 8 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
						        Final medical testing of selected candidates</a>
						      </h6>
						    </div>
						    <div id="collapse9" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>Bio-metric for Malaysia,Gamca for Saudi Arab, Bahrain, Oman</p>
						      </div>
						    </div>
						  </div> <!-- /panel 9 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
						        Visa or work permit processing by client</a>
						      </h6>
						    </div>
						    <div id="collapse10" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 10 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
						        Pre-departure Orientation</a>
						      </h6>
						    </div>
						    <div id="collapse11" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 11 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
						        Processing with embassy and DOFE</a>
						      </h6>
						    </div>
						    <div id="collapse12" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 12 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
						        Final approved from department of foreign employment office kathmandu</a>
						      </h6>
						    </div>
						    <div id="collapse13" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 13 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
						        Breffing about company rules, ethical recruitment policy, ensure thatworker did not paid any Fee to unauthorized/unlicensed labor broker/Agency staff.</a>
						      </h6>
						    </div>
						    <div id="collapse14" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 14 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
						        Airline Ticket requist</a>
						      </h6>
						    </div>
						    <div id="collapse15" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 15 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
						        Deployment</a>
						      </h6>
						    </div>
						    <div id="collapse16" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 16 -->
						  <div class="panel">
						    <div class="panel-heading">
						      <h6 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
						        Feedback till contract period</a>
						      </h6>
						    </div>
						    <div id="collapse17" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<p>we practice Ethical Recruitment and comply to various Business Code of Conducts. We Provide Our support during employers's audit on social compliance.</p>
						      </div>
						    </div>
						  </div> <!-- /panel 17 -->
						</div> <!-- end #accordion -->
					</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-12 blog-sidebar">
							<div class="sidebar-container sidebar-categories">
								<ul>
									<li><a href="why-us.html">Why Us?</a></li>
									<li><a href="inner.html">Abou Top Job</a></li>
									<li><a href="inner.html">Message From Chairman</a></li>
									<li class="active"><a href="requirement-process.html">Recruitment Process</a></li>
								</ul>
							</div> <!-- /.sidebar-categories -->
							<div class="sidebar-container sidebar-recent-post">
								<h5 class="title">Job Categorey</h5>
								<ul>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/3.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Constructions</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/5.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Security Company</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/6.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Supermarket</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/7.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Oil & Gas</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/8.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Distributors/Suppliers</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
										<img src="images/home/3.jpg" alt="" class="float-left">
										<div class="post float-left">
											<h6>Hotels/Resorts</h6>
											<p>View Job</p>
										</div>
										</a>
									</li>

								</ul>
							</div> <!-- /.sidebar-recent-post -->
							<div class="company-slogon">
								<p class="text-white">we practice Ethical Recruitment and comply to various Business Code of Conducts.</p>
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.faq-page -->



			<!--
			=====================================================
				Partner Slider
			=====================================================
			-->
			<div class="partner-section bg-color">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-12">
							<h6>OUR VALUED<br>Clients</h6>
						</div>
						<div class="col-md-9 col-sm-8 col-12">
							<div class="partner-slider">
								<div class="item"><img src="images/logo/p-1.png" alt=""></div>
								<div class="item"><img src="images/logo/p-2.png" alt=""></div>
								<div class="item"><img src="images/logo/p-3.png" alt=""></div>
								<div class="item"><img src="images/logo/p-4.png" alt=""></div>
								<div class="item"><img src="images/logo/p-5.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.partner-section -->


			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-two">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12 logo-widget">
								<p>Our commitment is finding the right person for the right job as per the request of our valued clients around the world.</p>
								<ul class="social-icon">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								</ul>
							</div> <!-- /.logo-widget -->
							<div class="col-lg-2 col-sm-6 col-12 footer-list">
								<h6 class="title">EXPLORE</h6>
								<ul>
									<li><a href="inner.html">About us</a></li>
									<li><a href="why-us.html">Why Us?</a></li>
									<li><a href="job-category.html">Job Category</a></li>
									<li><a href="gallery.html">Gallery</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							
							<div class="col-lg-3 col-sm-6 col-12 contact-widget">
								<h6 class="title">CONTACT</h6>
								<ul>
									<li>
										<i class="flaticon-direction-signs"></i>
										Basundhara-03 Kathmandu Nepal
									</li>
									<li>
										<i class="flaticon-multimedia-1"></i>
										<a href="mailto:roshan@topjobsnepal.com">roshan@topjobsnepal.com</a>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="tel:015903103">01-5903103 </a> / <a href="tel:015903102">5903102</a>
									</li>
								</ul>
							</div> <!-- /.contact-widget -->

							<div class="col-lg-3 col-sm-6 col-12 location">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.2935428013034!2d85.32834631438537!3d27.73909063070455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1939be1eac13%3A0x65c05fa92a8f20c!2sTop%20Jobs%20Pvt%20Ltd!5e0!3m2!1sen!2snp!4v1655982801911!5m2!1sen!2snp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<div class="copy-right">
							<p>All Rights Reserved 2022 © Top Job Nepal Developed by <a href="http://www.radiantnepal.com/" target="_blank">Radiant Infotech Nepal</a></p>
						</div>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer -->
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>